%icons {
    width: 30px;
    height: 30px;
}


.header {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;

    h2 a {
        text-decoration: none;
        color: black;
    }

    .navbar {
        .desktopNavbar {
            display: flex;
            list-style: none;
            justify-content: space-evenly;
            width: 200px;

            .homeIcon,
            .chatIcon,
            .favIcon {
                color: black;
                @extend %icons
            }

        }
    }

    .searchForm {
        display: flex;
        align-items: center;

        input[name="search"] {
            padding: 3px;
            outline: none;
        }

        input[name="submitBtn"] {
            padding: 3px;
            margin-left: 10px;
        }

        .searchIcon {
            margin-left: 5px;
            font-size: 27px;
        }
    }
}

.mobileNavbar {
    display: none;

    .homeIcon,
    .chatIcon,
    .favIcon {
        color: white;
        @extend %icons
    }

}

@media only screen and (max-width:600px) {
    .header {
        flex-direction: column;

        h2 {
            margin-left: 20px;
            margin-bottom: 20px;
        }

        .searchForm {
            margin-left: 20px;
        }

        .desktopNavbar {
            display: none !important;

        }
    }



    .mobileNavbar {
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        background-color: black;
        position: fixed;
        bottom: 0;
        width: 100%;

    }
}